body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bandeira_brasil {
    position: relative;
    background-color: green;
    width: 250px;
    height: 150px;
}

.bandeira_brasil .losangulo::before,
.bandeira_brasil .losangulo::after {
    position: absolute;
}

.bandeira_brasil .losangulo {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bandeira_brasil .losangulo::before,
.bandeira_brasil .losangulo::after {
    content: '';
    width: 0;
    height: 0;
    left: 20px;
    right: 20px;
}

.bandeira_brasil .losangulo::before {
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-bottom: 65px solid yellow;
    top: 10px;
}

.bandeira_brasil .losangulo::after {
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 65px solid yellow;
    bottom: 10px;
}

.bandeira_brasil .circulo {
    overflow: hidden;
    z-index: 2;
    display: block;
    background-color: blue;
    height: 80px;
    width: 80px;
    margin-left: -40px;
    margin-top: -40px;
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.bandeira_brasil .circulo,
.bandeira_brasil .circulo::before,
.bandeira_brasil .circulo::after {
    top: 50%;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.bandeira_brasil .circulo::before,
.bandeira_brasil .circulo::after {
    width: 90px;
    height: 90px;
    -ms-transform: rotate(14deg);
    -webkit-transform: rotate(14deg);
    transform: rotate(14deg);
}

.bandeira_brasil .circulo::before {
    z-index: 3;
    content: '';
    margin-top: -20px;
    margin-left: -45px;
    background-color: white;
}

.bandeira_brasil .circulo::after {
    z-index: 4;
    content: '';
    margin-top: -10px;
    margin-left: -45px;
    background-color: blue;
}